* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 1%;
    padding-left: 1%;
    width: 20%;
}
.container, .chosenCity {
    display: inline-block;
}
.block {
    padding-bottom: 30px;
}
#searchButton {
    background-color: #2590f5;
    color: white;
}

.but, input {
    display: block;
    margin-top: 10px;
}

input {
    height: 30px;
    width: 90%;
    border-radius: 4px;
}

.but {
    height: 30px;
    width: 90%;
    border-radius: 4px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding-top: 2px;
    background-color: blue;
}
.chosenCity {
    float: right;
    background-color: #cee3f7;
    border: 2px solid black;
    width: 78%;
    height: 320px;
    margin-top: 1.2%;
    margin-right: 2%;
}

.forecast {
    margin-top: 15.5%;
    width: 78%;
    margin-left: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.space {
    justify-content: space-evenly;
}

.day1 {
    display: flex;
    border: 3px solid black;
    width: 18%;
}

.day2 {
    display: flex;
    border: 3px solid black;
    width: 18%;
}

.day3 {
    display: flex;
    border: 3px solid black;
    width: 18%;
}

.day4 {
    display: flex;
    border: 3px solid black;
    width: 18%;
}

.day5 {
    display: flex;
    border: 3px solid black;
    width: 18%;
}

.inline, .day1, .day2, .day3, .day4, .day5 {
    display: flex;
    
}

.inline {
    border: 3px solid black;
    width: 78%;
    margin-left: 20%;
    height: 250px;
    padding-bottom: 1%;
}